# Сборочные директории и бинарники
build/
bin/
obj/
*.o
*.a
*.elf
*.bin
*.iso
*.img

# Логи
*.log

# Кэш Python (полезно для твоих скриптов генерации шрифтов)
__pycache__/
*.pyc
*.pyo

# Системные файлы и настройки редакторов
.DS_Store
.vscode/
.idea/